<ion-header>
  <ion-toolbar>
    <ion-title>
      My Postion
    </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
    <ion-grid>
        <ion-row>
          <ion-col col-6>
              <button ion-button (click)="watchLocation()" full>Start Watching </button>           
          </ion-col>
          <ion-col col-6>
              <button ion-button (click)="stopLocationWatch()" full>Stop Watching</button>
          </ion-col>
        </ion-row>
      </ion-grid>
 

  <p>Latitude : {{latitude}}</p>
  <p>Longitude : {{longitude}}</p>
  <p>Altitude : {{altitude}}</p>
  <p>Accuracy : {{accuracy}}</p>
  <p>Altitude Accuracy : {{altAccuracy}}</p>
  <p>Heading : {{heading}}</p>
  <p>Speed : {{speed}}</p>
  <p>Time : {{timestamp | date: 'h:mm:ss a'}}</p>
  <p>Date : {{timestamp | date}}</p>
  
</ion-content>
