<ion-header>
  <ion-toolbar color="primary">
    <ion-title align="center">
      My Postion
    </ion-title>

  </ion-toolbar>
  <ion-item>
    <ion-label>Start GPS</ion-label>
    <ion-toggle [(ngModel)]="isWatching" (ionChange)="onChange()"> </ion-toggle>



  </ion-item>

</ion-header>
<ion-content padding>

  <div *ngIf="!gpsSync">
    <ion-spinner name="lines" align="center"></ion-spinner>
    <br>
    <ion-text align="center">Waiting for GPS to start watching....</ion-text>
  </div>

<br><br>

  <ion-grid>
    <ion-row>
      <ion-col>
        <p><strong>Latitude :</strong> </p>
        <p><strong>Longitude :</strong> </p>
        <p><strong>Altitude :</strong> </p>
        <p><strong>Accuracy :</strong> </p>
        <p><strong>Heading :</strong> </p>
        <p><strong>Speed :</strong> </p>
        <p><strong>Time :</strong> </p>
        <p><strong>Date :</strong> </p>
      </ion-col>
      <ion-col>
        <p><strong>{{latitude}}</strong> </p>
        <p><strong>{{longitude}}</strong> </p>
        <p><strong> {{altitude| number}}</strong> </p>
        <p><strong> {{accuracy | number}}</strong> </p>
        <p><strong>{{heading| number}}</strong> </p>
        <p><strong> {{speed}}</strong> </p>
        <p><strong> {{timestamp | date: 'h:mm:ss a'}}</strong> </p>
        <p><strong> {{timestamp | date}}</strong> </p>
     </ion-col>
    </ion-row>
  </ion-grid>




</ion-content>